@charset "utf-8";
/* CSS Document */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
	CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}	
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* - - - - - - - - - end reset - - - - - - - - - */

/* - -  Start of Base Master Page style - - */

/* - - all of page - - */

/* inclusion of rufina font */

@import url(http://fonts.googleapis.com/css?family=Rufina);

body {
	background-color: #327c42;
	font-family: 'Rufina', serif;
	font-size: 14px;
}

#container 
{
    padding:30px 0;
    margin:0 auto;
}

.clear {
	clear: both;
}

.normal-font {
	font-weight: normal;
}

/* - - start of header area */

.main-logo {
	position:relative;
	z-index:10;
	left:-10px;
	
}

.primary-nav-contain, .feature-nav-contain
{
    position:relative; 
    top:-115px;
}

.primary-nav, .primary-nav-contain
{
    background: #2d6f34; /* Old browsers */
    background: -moz-linear-gradient(top,  #2d6f34 0%, #388642 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d6f34), color-stop(100%,#388642)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2d6f34 0%,#388642 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2d6f34 0%,#388642 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2d6f34 0%,#388642 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2d6f34 0%,#388642 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d6f34', endColorstr='#388642',GradientType=0 ); /* IE6-9 */ 
}

.primary-nav 
{
    position:relative;
	left:210px;
	z-index:3;
	border: 1px solid #235e30; 
}

.primary-nav:hover
{
    background: #235e30; /* Old browsers */
background: -moz-linear-gradient(top,  #235e30 0%, #337e44 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#235e30), color-stop(100%,#337e44)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #235e30 0%,#337e44 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #235e30 0%,#337e44 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #235e30 0%,#337e44 100%); /* IE10+ */
background: linear-gradient(to bottom,  #235e30 0%,#337e44 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#235e30', endColorstr='#337e44',GradientType=0 ); /* IE6-9 */

}

.feature-nav, .feature-nav-contain
{	
    background:#eaf2eb;
}

.feature-nav 
{
    position:relative;
	left:202px;
	z-index:3;
	border: 1px solid #fcfdfc; 
   -moz-box-shadow:    inset 0 0 40px #bcd4c0;
   -webkit-box-shadow: inset 0 0 40px #bcd4c0;
   box-shadow:         inset 0 0 40px #bcd4c0;
   margin: 0 1px;
}

.feature-nav:hover
{
   -moz-box-shadow:    inset 0 0 40px #a0b8a4;
   -webkit-box-shadow: inset 0 0 40px #a0b8a4;
   box-shadow:         inset 0 0 40px #a0b8a4;

}

#search {
	position: relative;
	z-index: 1;
	right: -785px;
	top: -42px;
}

#search input {
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     width: 105px;
     height: 15px;
    
}

#nav2 {
	float: right;
	position:relative;
	top: -126px;
	margin-bottom:-250px;
}

#secondary-nav {
    position: relative;
	z-index: 2;
	font-size: 24px;
	top: -45px;
	left: 112px;
	
}

#secondary-nav ul {
	list-style:none;
}

#secondary-nav li {
	display:inline;	
	padding-left: 85px;
}

/* - - End of Header Area  - - */

/* - - Start of Content Area - - */



/* - - End of Content Area - - */


/* - - Start of Footer Area - - */

footer 
{
	font-family: 'georgia', serif;
}

#upper-foot {
float: left;
display: inline-block;
font-weight: bold;
width: 905px;
margin-left: 25px;
margin-bottom: 15px;

}

#upper-foot ul {
	list-style: none;
	
}

#upper-foot li {
	display: inline;
	padding-left: 15px;
}

#divider {
	float: left;
	margin: 0 auto;
	width: 885px;
	
}

#divider hr {
	width: 795px;
	height: 4px;
	color: #327c42;
	background-color:  #327c42;
}

#lower-foot {
float: left;
font-weight: bold;
width: 675px;
margin-left: 125px;
margin-top: 15px;
}

#lower-foot ul {
	list-style:none;
}

#lower-foot li {
	display: inline;
	padding-left: 10px;
}


/* - - End of Footer Area - - */


/* - -  End of Base Master Page style - - */

/* Added by Chris for SubMaster1 -- February 19, 2013 */

#left_sidebar{
border:2px solid #327c42;
border-radius:7px;
float:left;
margin:-30px 5px 30px 10px;
padding:15px;
width:270px;
}

#right_content{
border:2px solid #327c42;
border-radius:7px;
float:right;
padding:15px;
margin:-30px 10px 30px 5px;
width:534px;
}

/* Added by Chris for Homepage -- February 19, 2013 */

.wait_time{
text-align:center;
}

/* Added by Chris for NewsBlog -- February 23, 2013 */

.footer_bar {
background-color:#CCC;
height:10px;
width:100%;
}





















/* - - End of Master Page NDMH template style -- */
