@charset "utf-8";
/* CSS Document */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
	CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}	
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* - - - - - - - - - end reset - - - - - - - - - */

/* - -  Start of Base Master Page style - - */

/* - - all of page - - */

/* inclusion of rufina font */

@import url(http://fonts.googleapis.com/css?family=Rufina);

body {
	background-color: #327c42;
	font-family: 'Rufina', serif;
	font-size: 14px;
}

#container {
	background-color: white;
	overflow: hidden;
	width: 902px;
	margin: 0 auto;
	padding-bottom:30px;
}

.clear {
	clear: both;
}

.normal-font {
	font-weight: normal;
}

/* - - start of header area */

#main-logo {
	position: relative;
	left: -23px;
	top: 32px;
	z-index: 1;
	
}

#page-adjust {
	height: 50px;
	position: relative;
	top: -105px;
	left: 660px;
	color: #ca0d0d;
	font-size: 18px;
}

#nav1-search {
	padding-bottom: 0px;
	margin-bottom: 0px;
	height: 38px;
	position:relative;
	top: -126px;	
	
}

#primary-nav {
	position: relative;
	z-index: 2;
	top: -20px;
	left: 180px;
	color: white;
	font-size: 15px;
    
}

#primary-nav ul {
    list-style:none;
}

#primary-nav li {
	display:inline;
	padding-left: 35px;	
}

#search {
	position: relative;
	z-index: 1;
	right: -785px;
	top: -42px;
}

#search input {
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     width: 105px;
     height: 15px;
    
}

#nav2 {
	float: right;
	position:relative;
	top: -126px;
	margin-bottom:-250px;
}

#secondary-nav {
    position: relative;
	z-index: 2;
	font-size: 24px;
	top: -45px;
	left: 112px;
	
}

#secondary-nav ul {
	list-style:none;
}

#secondary-nav li {
	display:inline;	
	padding-left: 85px;
}

/* - - End of Header Area  - - */

/* - - Start of Content Area - - */

.insertComment {
border:1px solid gray;
background-color:#B8D9BE;
padding-top:10px;
padding-left:15px;
margin-bottom:20px;
}

.userComment {
border:1px solid #CCC;
font-size:15px;
line-height:1.2;
margin-top:15px;
padding:10px;
}

/* - - End of Content Area - - */


/* - - Start of Footer Area - - */

footer 
{
	font-family: 'georgia', serif;
}

#upper-foot {
float: left;
display: inline-block;
font-weight: bold;
width: 905px;
margin-left: 25px;
margin-bottom: 15px;

}

#upper-foot ul {
	list-style: none;
	
}

#upper-foot li {
	display: inline;
	padding-left: 15px;
}

#divider {
	float: left;
	margin: 0 auto;
	width: 885px;
	
}

#divider hr {
	width: 795px;
	height: 4px;
	color: #327c42;
	background-color:  #327c42;
}

#lower-foot {
float: left;
font-weight: bold;
width: 675px;
margin-left: 125px;
margin-top: 15px;
}

#lower-foot ul {
	list-style:none;
}

#lower-foot li {
	display: inline;
	padding-left: 10px;
}


/* - - End of Footer Area - - */


/* - -  End of Base Master Page style - - */

/* Added by Chris for SubMaster1 -- February 19, 2013 */

#left_sidebar{
border:2px solid #327c42;
border-radius:7px;
float:left;
margin:-30px 5px 30px 10px;
padding:15px;
width:270px;
}

#right_content{
border:2px solid #327c42;
border-radius:7px;
float:right;
padding:15px;
margin:-30px 10px 30px 5px;
width:534px;
}

/* Added by Chris for Homepage -- February 19, 2013 */

.wait_time{
text-align:center;
}

/* Added by Chris for NewsBlog -- February 23, 2013 */

.footer_bar {
background-color:#CCC;
height:10px;
width:100%;
}





















/* - - End of Master Page NDMH template style -- */
