@charset "utf-8";
/* CSS Document */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
	CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}	
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* - - - - - - - - - end reset - - - - - - - - - */

/* - -  Start of Base Master Page style - - */

/* - - all of page - - */

/* inclusion of rufina font */

@import url(http://fonts.googleapis.com/css?family=Rufina);

body {
	background-color: #67c792;
	font-family: 'Rufina', serif;
	font-size: 14px;
	color:#002103;
}

#container 
{
    padding:30px 0;
    margin:0 auto;
}

.clear {
	clear: both;
}

.normal-font {
	font-weight: normal;
}

/* - - start of header area */

.searchbar
{
    position:relative;
    float:right;
    margin:2px;
}

.fontchange
{
    position:relative;
    float:right;
    margin:0 10px 0 0;
    top:-10px;
}

.main-logo {
	position:relative;
	z-index:10;
	left:-5px;
	
}

.primary-nav-contain, .feature-nav-contain
{
    position:relative; 
    top:-155px;
}

.primary-nav, .primary-nav-contain
{
    background: #67c792;
}

.primary-nav 
{
    position:relative;
	left:210px;
	z-index:3; 
}

.primary-nav:hover
{
    background: #4eaa77; /* Old browsers */

}

.feature-nav, .feature-nav-contain
{	
    background:#eaf2eb;
}

.feature-nav 
{
    position:relative;
	left:202px;
	z-index:3;
	border: 1px solid #fcfdfc; 
   -moz-box-shadow:    inset 0 0 40px #b4e2c8;
   -webkit-box-shadow: inset 0 0 40px #b4e2c8;
   box-shadow:         inset 0 0 40px #b4e2c8;
   margin: 0 1px;
}

.feature-nav:hover
{
   -moz-box-shadow:    inset 0 0 40px #a3d1b8;
   -webkit-box-shadow: inset 0 0 40px #a3d1b8;
   box-shadow:         inset 0 0 40px #a3d1b8;

}

.search {
}

.upper-foot 
{
    margin:0 auto;
    width:690px;
    padding:15px 0 7px 0;
    border-bottom:3px solid #67c792;
    text-align:center;
}

.lower-foot
{
    width:600px;
    margin:10px auto;
}

.foot-menu-left
{
    display:inline;
    position:relative;
    float:left;
}

.copyright
{
    font-weight:normal;
    font-style:italic;
    font-size:10pt;
    display:inline;
    position:relative;
    float:left;
}

/* Added by Chris for SubMaster1 -- February 19, 2013 */

#left_sidebar{
border:2px solid #327c42;
border-radius:7px;
float:left;
margin:-30px 5px 30px 10px;
padding:15px;
width:270px;
}

#right_content{
border:2px solid #327c42;
border-radius:7px;
float:right;
padding:15px;
margin:-30px 10px 30px 5px;
width:534px;
}

/* Added by Chris for Homepage -- February 19, 2013 */

.wait_time{
text-align:center;
}





















/* - - End of Master Page NDMH template style -- */
